<nav class="text-right" style="background-color: #adb87a;" >


        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #adb87a; width: auto; " >
                        <button class="navbar-expand " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-expand-icon"></span>
                        </button>
                        
                <div class="collapse navbar-collapse m-2" id="navbarTogglerDemo02"  style="height: 90px; justify-content: center;">
                        
                        <ul class="nav navbar-nav navbar-center"  style="align-items:baseline; position: absolute; left: 50%; transform: translatex(-50%);  " >
                                

                        <li class="nav-item " routerLinkActive="active" >
                                <a class="nav-link font-weight-bold m-0 " style="color:#5b5f46; font-size: 19px;" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
                        </li>
                
                        <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link font-weight-bold m-0 " style="color:#5b5f46; font-size: 19px;" [routerLink]="['/nosotros']">Nosotros <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link font-weight-bold m-0"   style="color:#5b5f46;font-size: 19px;" [routerLink]="['/fotos']">Galeria <span class="sr-only">(current)</span></a>
                        </li>
                      

                        <a class="navbar-brand">
                                <img src="assets/img/logo2.png" width="100" height="100" >
                        </a>

                        <li class="nav-item dropdown">
                                <a class="nav-link font-weight-bold  dropdown-toggle " id="navbarDropdown" style="color:#5b5f46; font-size: 19px;"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Servicios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style=" position:relative">
                                       <a class="dropdown-item  " style="color:#5b5f46; font-size: 12px;" [routerLink]="['/tratamientos']">Tratamientos <span class="sr-only">(current)</span></a>
                                       <a class="dropdown-item  "  style="color:#5b5f46;font-size: 12px;" [routerLink]="['/productos']">Productos<span class="sr-only">(current)</span></a>
                                </div>
                       </li>
                        <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link font-weight-bold m-0" style="color:#5b5f46; font-size: 19px; ;" [routerLink]="['/citas']">Citas <span class="sr-only">(current)</span></a>
                        </li>
                                                                             
                      
                        <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link font-weight-bold m-0" style="color:#5b5f46; font-size: 19px;" [routerLink]="['/contacto']">Contactanos <span class="sr-only">(current)</span></a>
                        </li>
                     
                        <li class="nav-item" routerLinkActive="active">
                                <div *ngIf="!loginSession; else elseBlock">
                                        <a class="nav-link font-weight-bold m-0" style="color:#5b5f46; font-size: 19px;" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login  <span class="sr-only">(current)</span></a>
                                </div>
                                <ng-template #elseBlock>
                                        <a class="nav-link font-weight-bold m-0" style="color:#5b5f46; font-size: 19px;" (click)="logout()" routerLinkActive="router-link-active" >Logout  <span class="sr-only">(current)</span></a>               
                                </ng-template>
                        </li>
                        </ul>
                </div>
        </nav>

</nav>
