<section style="margin: 10px 15px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner galeriaRecortada ">
      
      <div class="carousel-item active">
        <img src="assets/img/galeria/tr/1.png" height="500" margin="3px"  alt="" class=" d-block w-100" alt="perros">
      </div>
      <div class="carousel-item ">
          <img src="assets/img/galeria/tr/2.png" width="300" height="500" alt="" class="d-block w-100" alt="pug">
      </div>
      <div class="carousel-item">
        <img src="assets/img/galeria/tr/3.png" width="300" height="500" alt="" class="d-block w-100" alt="perros">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/galeria/tr/4.png" width="300" height="500" alt="" class="d-block w-100" alt="pug">
      </div>
      <div class="carousel-item ">
        <img src="assets/img/galeria/tr/5.png" width="300" height="500" alt="" class="d-block w-100" alt="pug">
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </section>

<br>

  <section>

    <div class="card-group">
      <div class="card">
        <img src="assets/img/salas/1.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/2.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/3.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/4.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/5.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/6.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/7.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/8.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card">
        <img src="assets/img/salas/9.jpg" class="card-img-top" alt="...">
      </div>
    </div>
<br>

  </section>

  <div class="card-body">
    <h2 class="text-center m-4" style="color:#5b5f46">Nuestros espacios</h2>
    <p class="text-justify m-4">O body Spa nace en el 2007 inspirado de la belleza humana y los beneficios que la relajación aporta al cuerpo. Creemos firmemente que al tener un cuerpo sano, la mente y el espíritu se alinean y de esta forma aportan una ola de paz y tranquilidad a la vida cotidiana de las personas.</p>
    </div>