<meta charset="utf-8">
<div class="card-columns m-3">
 
        <div class="card" *ngFor="let trat of tratamientos ">
      <img src = "/assets/imagenestratamientos/{{trat.idTratamiento}}.jpg" style="width: 400px; height: 400px; margin: 10px 30px; " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="font-weight-bold" style="text-align: center;">{{trat.nombre}}</h5>
        <p class="card-text" >{{trat.descripcion}}</p>
        <p class="card-text">Duración: {{trat.duracion}}:00 hrs</p>
        <p class="font-weight-bold text-danger" >Precio: ${{trat.precio|number}}</p>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>