
    
    <br><br><h2 class="text-center"  style="color:#5b5f46"  >Acerca de nosotros</h2><br>
        <div class="row">

   
        <div class="col-sm-6" >
            <div class="card m-3 " style="border: none">
                <div class="card-body">
                    <div class="text-center m-4" ><br>
                        <img src="assets/img/2.jpg" class="rounded" alt="..."><br><br>
                    </div>
                    <h5 class="text-center m-4">Visión</h5>
                    <p class="text-justify m-4">Ser líderes en el mercado de los servicios de salud corporativa, diseñando acciones que mejoren los ámbitos de trabajo y las relaciones interpersonales, logrando desarrollar al máximo las potencialidades.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card m-3" style="border: none">
                <div class="card-body">
                <h5 class="text-center m-4">Filosofía</h5>
                <p class="text-justify m-4">Nuestra filosofía es ofrecer al cliente siempre el mejor servicio, respetando su privacidad, por este motivo nuestra atención es personalizada, trabajamos con cita previa y en nuestra zona de balneoterapia sólo atendemos entre una a seis personas máximo, para conseguir un bienestar y una relajación total.</p>
                </div>

                <div class="card-body">
                    <h5 class="text-center m-4">Misión</h5>
                <p class="text-justify m-4">“Somos un spa que busca satisfacer las necesidades de nuestros clientes, proporcionando una excelente atención, productos de buena calidad, y brindar así un servicio personalizado, siguiendo estándares que nos lleven a la calidad total y de esta forma buscar el bienestar y la armonía que requieren nuestros clientes para lograr la relajación, vitalidad y salud en sus vidas"</p>
                
                </div>
            </div>
        </div>
    </div>
  
