<script type="text/javascript" src="http://ipwg.site90.net/jquery-1.2.3.min.js"></script>
<script type="text/javascript" src="http://ipwg.site90.net/thickbox_compressed.js"></script>
<link rel="stylesheet" href="http://ipwg.site90.net/thickbox.css" type="text/css" media="screen" />

<div class="text-repet" style="height: 665px;; background-image:url(assets/img/fondo3.png); margin: -20px; padding: -10px; ">
  <br>
  <div id="bloque" style="width: 900px;height: 580px; margin: 20px auto ; align-content:center; padding: 10px; background-color:white; text-align: center; opacity: 0.9;">

      <div id="izquierda" style=" float: left;height: 300px; margin: 40px 50px 30px 20px;">
        <div class="row m-3">
          <div class="card"
            style="width: auto; border: none; margin: 20px 25px 0px auto;float: right; padding: 10px; background-color:white; text-align: center;">
            <br>

                  <h2 class="text-center" style="color:#5b5f46">Inicia seción      <a class="thickbox" href="assets/img/help.jpg" ><img width="20px" float="right" class="alignleft" alt="" src="assets/img/ayuda.png" /></a></h2>
                  <br>
            
            <form [formGroup]="loginForm" (ngSubmit)="Login()">
                    <br>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Usuario</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Nombre" placeholder="usuario" formControlName="NombreUsuario">
                  </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Contraseña</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="Mensaje" placeholder="contraseña" formControlName="Contrasenia">
                </div>
              </div>
              <BR>
                <div *ngIf="loginSpiner; else elseBlock">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                  </div>
                  <ng-template #elseBlock>
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </ng-template>            </form>
          </div>
      </div>
      </div>


      <div id="derecha" style=" height: 600px;  ">
        <form [formGroup]="contenidoForm" (ngSubmit)="onSubmit()">
          <section class="text-center" >
            <div class="row m-3">
              <div class="card"
                style="width: 550px;border: none; margin: 0px auto; float: right; padding: 10px; background-color:white; text-align: center; opacity: 0.9;">
                <br>
                <h2 class="text-center" style="color:#5b5f46">Registrate</h2><br>
                <div class="form-group row">
                  <label for="Nombre" class="col-sm-4 col-form-label">Nombre</label>
                  <div class="form-group col-sm-8">
                    <input type="text" class="form-control" id="Nombre" placeholder="Nombre completo"
                      formControlName="Nombre">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="NombreUsuario" class="col-sm-4 col-form-label">Usuario</label>
                  <div class="form-group col-sm-8">
                    <input type="text" class="form-control" id="NombreUsuario" placeholder="Nombre de usuario"
                      formControlName="NombreUsuario">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Contrasenia" class="col-sm-4 col-form-label">Contraseña</label>
                  <div class="form-group col-sm-8">
                    <input type="password" class="form-control" id="Contrasenia" placeholder="Contraseña"
                      formControlName="Contrasenia">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Correo" class="col-sm-4 col-form-label">Correo</label>
                  <div class="form-group col-sm-8">
                    <input type="mail" class="form-control" id="Correo" placeholder="Correo" formControlName="Correo">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Telefono" class="col-sm-4 col-form-label">Teléfono</label>
                  <div class="form-group col-sm-8">
                    <input type="text" class="form-control" id="Telefono" placeholder="Teléfono" formControlName="Telefono">
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary">Crear</button>
              </div>
            </div>
          </section>
        </form>
       </div>

  </div>
  
</div>