<footer style="background-color:#a3a38b; width: auto; height: 220px; margin: 1px;">
                <br>
                  <h5 class="text-font-weight-bold text-center" style="color:#5b5f46">Spa Maryah</h5>
                  <p class="font-italic text-light text-center">Haz una pausa y dedícate un momento para sentir la paz y armonía en tu cuerpo y mente.
                  <br>  4a. Priv. Juan Álvarez 120, Juan Alvarez, 78048 San Luis, S.L.P. <br> 444 170 7303</p>
                  
                        <p class="text-center m-4" >
                                <img src="assets/img/icon/facebook2.png" width="40" height="40" alt="">
                                <img src="assets/img/logo4.png" width="45" height="45" alt="">
                                <img src="assets/img/icon/login.png" width="43" height="43" alt="">
                        </p>
               
</footer>
