<div class="text-repet" style="height: 580px;; background-image:url(assets/img/fondo3.png); margin: -15px; padding: -10px; ">
  
  <div class="row m-3">
    
    <div class="card" style=" height: 570px ;width: 350px; background-color: white; opacity: 0.9;">
      <h1>Bienvenido(A) {{user.nombre}}</h1>
      <h4>Ttus citas</h4>

      <div *ngFor="let cita of citas">
        Tratamiento: {{cita.reservacion}}
        <br>
        Cliente: {{cita.nombre}}
        <br>
        Fecha: {{cita.fecha}} HORA: {{cita.horaInicio}}
        <hr>
      </div> 


    </div>
    
    <div class="card " style="width: 700px; height: 450px; margin: 50px auto; align-content:center; padding: 10px; background-color:white; text-align: center; opacity: 0.9;">
        <br><h2 class="text-center"  style="color:#5b5f46"  >Agenda tu cita</h2><br>
  
      
        <form [formGroup]="contenidoForm" (ngSubmit)="onSubmit()"><br>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="Nombre" placeholder="Nombre completo" formControlName="Nombre">
                </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Día</label>
              <div class="col-sm-9">
                  <input type="date" class="form-control" id="fecha" placeholder="Día" formControlName="Fecha">
                </div>
            </div>
            <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Hora</label>
                    <div class="col-sm-9">
                        <input type="time" class="form-control" id="Hora" placeholder="Hora" formControlName="HoraInicio">
                      </div>
            </div>
            <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Tratamiento</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="Tratamientos" [(ngModel)]="selectedValue" formControlName="IdTratamiento" (change)="change()"> 
                          <option *ngFor="let tratamientos of misTratamientos" value="{{tratamientos.idTratamiento}}">{{tratamientos.nombre}}</option>
                        </select>                    
                    </div>
            </div>
            <BR>
            <button type="submit" class="btn btn-primary">Agendar</button>
      </form>
    </div>
    </div>

  </div>

